{% extends "base.html" %}

{% block menu %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/home">Listagem</a>
        </li>

        <li class="nav-item">
            <a class="nav-link active" href="/cadastrar">Cadastro</a>
        </li>
    </ul>
{% endblock menu %}

{% block main %}
<div class="container" style="margin-top: 10%;">
    <h1 style="text-align: center;"><em>Cadastro de Alimentos</em></h1>
    <form action="{{ url_for("cadastro") }}" method="POST">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="nome_produto" class="control-label">Nome do Alimento:</label>
                    <input type="text" class="form-control" name="nome_produto">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="nome_produto" class="control-label">Validade:</label>
                    <input type="text" class="form-control" name="validade">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="nome_produto" class="control-label">Peso:</label>
                    <input type="text" class="form-control" name="peso_produto">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="nome_produto" class="control-label">Preço:</label>
                    <input type="text" class="form-control" name="preco">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="nome_produto" class="control-label">Qtd Estoque:</label>
                    <input type="text" class="form-control" name="quantidade">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="nome_produto" class="control-label">País de Origem:</label>
                    <input type="text" class="form-control" name="pais_origem">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="nome_produto" class="control-label">Fornecedor:</label>
                    <input type="text" class="form-control" name="fornecedor">
                </div>
            </div>
        </div>
        <div style="margin-top: 10px;"></div>
        <input class="btn btn-dark" type="submit" value="Cadastrar" class="enviar">
    </form>
</div>

{% endblock main %} 
